body{
  background-color: blanchedalmond;
}

#container{
  height: 700px;
  width: 700px;
}

.input-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.reset-button{
  background-color: blanchedalmond;
  border: solid 2px black;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Anton";
  font-size: 20px;
}

.size-button:hover{
  background-color: rgb(212, 197, 171);
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-rows{
  display: flex;
}

.div-columns{
  border: 1px solid black;
  background-color: white;
  box-sizing: border-box;
}
